@{
    ViewData["Title"] = "Home Page";
}
<body>
    
    <div class="text-center">
        <h1 class="display-4">MOXIE'S ON TIME! </h1>
        <h2>APPLICATION</h2>
        <h3>ENTER AT YOUR OWN RISK!!!</h3>
        <p> BEING ON TIME EVERYTIME NO MATTER YOUR DESTINATION</p>
        
    </div>

<p style=" background-color: black;">
<img src="https://images05.military.com/sites/default/files/styles/full/public/2019-04/halleberryjohnwick31500.jpeg.jpg?itok=qaRxgNeE" alt="Image result for john wick and halle berry"
     width="1000" height="500" />
    </p>
    </body>



